<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">

    <title>Registrarse</title>
</head>
<body>
    <a href="/index.html">Volver</a>
    
    <input class="input-name" type="text" placeholder="Nombre"/>
    <input class="input-lastName" type="text" placeholder="Apellido"/>
    <input class="input-mail" type="text" placeholder="Correo"/>
    <input class="input-password" type="text" placeholder="Contraseña"/>
    <button class="boton-Registro">Registrar</button>
    <script src="./app.js"></script>
</body>
</html>